@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
body {
    
    nav .nav-wrapper {
        background-color: black;
    }
    
    .aboutMe {
        background-image: url("/assets/ocean.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        font-size: 20px;
        color: white;
        height: 300px;
        padding-top: 100px;
        display: flex;
    }
    
    #aboutMeTitle {
        border-right: solid 5px black;
        padding-right: 25px;
    }
    
    .aboutMeParagraph {
        line-height: 2.5;
        padding-left: 25px;

    }

}