@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
body {
    
    nav .nav-wrapper {
        background-color: black;
        height: 125%;
    }
    
    .contentSection {
        display: flex;
        align-items: flex-start;
        flex-flow: row nowrap;
    }

    .contentSection header {
        display: flex;
        width: 10%;
    }

    .background {
        background-image: url("/assets/ocean.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .aboutMe {

        font-size: 20px;
        color: white;
        padding-top: 100px;
    }
    
    .aboutMeTitle {

    }
    
    .aboutMeParagraph {
        border-left: solid 5px black;
    }

    .work {
        font-size: 20px;
        color: white;
    }

    .contact {
        font-size: 20px;
        color: white;
    }

    .workProject1 {
        height: 300px;
        width: 60%;
        border: 3px solid black;
        border-left: solid 5px black;
    }

    .codeQuizGame {
        height: 150px;
        width: 30%;
        border: 3px solid black;
        border-left: solid 5px black;
    }

    .weatherDashboard {
        height: 150px;
        width: 30%;
        border: 3px solid black;
    }

}